{% extends "base.html" %} {% block title %} MMC NoticeBot help page {% endblock
%} {% block body %}
<section class="help--section">
  <h1>MMC NoticeBot help page</h1>
  <p>
    Many of your questions about MMC NoticeBot are likely to be answered below.
    If not, the best place to get support is in our
    <a href="mailto:wts.devs@yahoo.com">Send feedback</a> or
    <a
      href="https://github.com/rajmanna-dev/mmc-noticebot-opensource"
      target="_blank"
      >GitHub</a
    >. We monitor them to make sure that every question gets answered, and you
    get the added benefit that other contributors can help you out too.
  </p>
  <br />
  <p>
    If you want help about the project generally (as opposed to MMC NoticeBot),
    you can follow the
    <a
      href="https://github.com/rajmanna-dev/mmc-noticebot-opensource"
      target="_blank"
      >GitHub link</a
    >.
  </p>
  <br />
  <h2>Tech tags you should know before contributing</h2>
  <br />
  <dl>
    <dt>Flask docs</dt>
    <dd>
      <a
        href="https://flask.palletsprojects.com/en/3.0.x/quickstart/"
        target="_blank"
        >Quickstart flask documentation</a
      >
    </dd>
    <dt>SMTP Docs</dt>
    <dd>
      <a href="https://docs.python.org/3/library/smtplib.html" target="_blank"
        >Python SMTP documentation</a
      >
    </dd>
    <dt>PyMongo docs</dt>
    <dd>
      <a href="https://pymongo.readthedocs.io/en/stable/" target="_blank"
        >Python Mongodb documentation</a
      >
    </dd>
    <dt>Talisman docs</dt>
    <dd>
      <a href="https://pypi.org/project/talisman/" target="_blank"
        >Python Talisman security documentation</a
      >
    </dd>
    <dt>PdfPlumber docs</dt>
    <dd>
      <a href="https://pypi.org/project/pdfplumber/" target="_blank"
        >PyPi PdfPlumber documentation</a
      >
    </dd>
    <dt>APScheduler docs</dt>
    <dd>
      <a href="https://pypi.org/project/APScheduler/" target="_blank"
        >PyPi APScheduler documentation</a
      >
    </dd>
  </dl>

  <br />
  <h2>I want to delete my account or unsubscribe the service</h2>
  <br />
  <p>
    If you wish to delete your account or unsubscribe from our service, the
    process is simple. Please send an email to our
    <a href="mailto:wts.devs@yahoo.com">support team</a> with the subject line
    "unsubscribe" and include the message "I want to unsubscribe mmc-noticebot"
    in the body of the email. Our team will process your request promptly and
    ensure your subscription is canceled.
  </p>
</section>
{% endblock %}
