<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MMC NoticeBot Blog</title>
    <link
      rel="shortcut icon"
      href="../static/img/logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo--section">
        <a class="logo--link" href="/">
          <img
            src="../static/img/logo.png"
            class="logo--img"
            width="30"
            height="30"
            alt="Bot"
          />
          MMC NoticeBot
        </a>
      </div>
      <div class="nav--menus">
        <ul class="nav--items">
          <li>
            <a class="nav--link" href="#home">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-home"
              >
                <path d="m3 9 9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z" />
                <polyline points="9 22 9 12 15 12 15 22" />
              </svg>
              Home
            </a>
          </li>
          <li>
            <a class="nav--link" href="#about">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-info"
              >
                <circle cx="12" cy="12" r="10" />
                <path d="M12 16v-4" />
                <path d="M12 8h.01" />
              </svg>
              About</a
            >
          </li>
          <li>
            <a class="nav--link" href="#subscribe">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-bot"
              >
                <path d="M12 8V4H8" />
                <rect width="16" height="12" x="4" y="8" rx="2" />
                <path d="M2 14h2" />
                <path d="M20 14h2" />
                <path d="M15 13v2" />
                <path d="M9 13v2" />
              </svg>
              Subscribe
            </a>
          </li>
          <li>
            <a
              class="github--link"
              href="https://github.com/rajmanna-dev/mmc-noticebot-opensource"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="lucide lucide-github"
              >
                <path
                  d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
                />
                <path d="M9 18c-4.51 2-5-2-7-2" />
              </svg>
              GitHub Open Source
            </a>
          </li>
        </ul>
      </div>
      <div class="btn--report">
        <a class="bug--link" href="mailto:wts.devs@yahoo.com">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="lucide lucide-bug"
          >
            <path d="m8 2 1.88 1.88" />
            <path d="M14.12 3.88 16 2" />
            <path d="M9 7.13v-1a3.003 3.003 0 1 1 6 0v1" />
            <path
              d="M12 20c-3.3 0-6-2.7-6-6v-3a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v3c0 3.3-2.7 6-6 6"
            />
            <path d="M12 20v-9" />
            <path d="M6.53 9C4.6 8.8 3 7.1 3 5" />
            <path d="M6 13H2" />
            <path d="M3 21c0-2.1 1.7-3.9 3.8-4" />
            <path d="M20.97 5c0 2.1-1.6 3.8-3.5 4" />
            <path d="M22 13h-4" />
            <path d="M17.2 17c2.1.1 3.8 1.9 3.8 4" />
          </svg>
          Bug Report
        </a>
      </div>
    </nav>
    <section class="help--section">
      <h1>MMC NoticeBot help pages</h1>
      <p>
        Many of your questions about MMC NoticeBot are likely to be answered
        below. If not, the best place to get support is in our
        <a href="mailto:wts.devs@yahoo.com">Send feedback</a> or
        <a
          href="https://github.com/rajmanna-dev/mmc-noticebot-opensource"
          target="_blank"
          >GitHub</a
        >. We monitor them to make sure that every question gets answered, and
        you get the added benefit that other contributors can help you out too.
      </p>
      <br />
      <p>
        If you want help about the project generally (as opposed to MMC
        NoticeBot), you can follow the
        <a
          href="https://github.com/rajmanna-dev/mmc-noticebot-opensource"
          target="_blank"
          >GitHub link</a
        >.
      </p>
      <br />
      <h2>Tech tags you should know before contributing</h2>
      <br />
      <dl>
        <dt>Flask docs</dt>
        <dd>
          <a
            href="https://flask.palletsprojects.com/en/3.0.x/quickstart/"
            target="_blank"
            >Quickstart flask documentation</a
          >
        </dd>
        <dt>SMTP Docs</dt>
        <dd>
          <a
            href="https://docs.python.org/3/library/smtplib.html"
            target="_blank"
            >Python SMTP documentation</a
          >
        </dd>
        <dt>PyMongo docs</dt>
        <dd>
          <a href="https://pymongo.readthedocs.io/en/stable/" target="_blank"
            >Python Mongodb documentation</a
          >
        </dd>
        <dt>Talisman docs</dt>
        <dd>
          <a href="https://pypi.org/project/talisman/" target="_blank"
            >Python Talisman security documentation</a
          >
        </dd>
        <dt>PdfPlumber docs</dt>
        <dd>
          <a href="https://pypi.org/project/pdfplumber/" target="_blank"
            >PyPi PdfPlumber documentation</a
          >
        </dd>
        <dt>APScheduler docs</dt>
        <dd>
          <a href="https://pypi.org/project/APScheduler/" target="_blank"
            >PyPi APScheduler documentation</a
          >
        </dd>
      </dl>

      <br />
      <h2>I want to delete my account or unsubscribe the service</h2>
      <br />
      <p>
        If you wish to delete your account or unsubscribe from our service, the
        process is simple. Please send an email to our
        <a href="mailto:wts.devs@yahoo.com">support team</a> with the subject
        line "unsubscribe" and include the message "I want to unsubscribe
        mmc-noticebot" in the body of the email. Our team will process your
        request promptly and ensure your subscription is canceled.
      </p>
    </section>
    <footer>
      <div class="footer--menus">
        <div class="logo--section footer--logo">
          <a class="nav--link" href="/">
            <img
              src="../static/img/logo.png"
              class="logo--img"
              width="30"
              height="30"
              alt="Bot"
            />
            MMC NoticeBot
          </a>
        </div>
        <div class="footer--link">
          <p class="footer-p">Links</p>
          <a
            href="https://github.com/rajmanna-dev/mmc-noticebot-opensource"
            target="_blank"
            >GitHub Open Source</a
          >
        </div>
        <div class="support">
          <p class="footer-p">Supports</p>
          <ul class="footer--list">
            <li>
              <a href="mailto:wts.devs@yahoo.com">Email: wts.devs@yahoo.com</a>
            </li>
          </ul>
        </div>
      </div>
      <hr />
      <div class="copyright--text text-center">
        <p>Copyright &copy; 2024 Web Tools for Students</p>
      </div>
    </footer>
    <script src="../static/js/script.js"></script>
  </body>
</html>
