<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <link
      rel="shortcut icon"
      href="../static/img/favicon.ico"
      type="image/x-icon"
    />
    <title>MMC Notice Automation</title>
  </head>
  <body>
    <h1 class="header">MMC Notice Bot</h1>
    <main>
      <div class="top">
        <img src="../static/img/bot.png" width="96" height="96" alt="Bot" />
      </div>
      <form method="post" class="bottom">
        <h2>Subscribe!</h2>
        <p>
          <span class="text-red">Stop</span> searching for college notices.
          Introducing a bot to search for notices. New notices are sent directly
          to your inbox.
        </p>
        <input
          type="text"
          class="user-name"
          placeholder="Enter name"
          required
        />
        <input
          type="email"
          class="user-email"
          placeholder="Enter email address"
          required
        />
        <button class="btn btn--save">SAVE</button>
      </form>
    </main>
    <p class="footer">&copy Copyrights 2024 | MMC Notice Automation</p>
    <script src="../static/js/script.js"></script>
  </body>
</html>
